body {
	background: url(img/cl-20.png) repeat left top;
}

#page {
	max-width: 1200px;
	margin: 0 auto;
}

// HEADER

.site-branding {
	text-align: center;
	img {
		margin: 0 auto;
		width: 500px;
		max-width: 100%;
		display: block;
	}
}

// MAIN NAV

#site-navigation {
	font-family: "brandon-grotesque";
	background: rgba($base-color, .9);
	letter-spacing: .2em;
	@include clearfix();

	.nav-menu {
		li {
			display: block;
			float: left;
			// @media screen and (max-width: 785px) {
			@media screen and (max-width: 880px) {
				float: none;
			}
			a {
				display: block;
				padding: 1.5em 2rem;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				color: hsla(0, 0, 100%, .8);
				background: hsla(0, 0, 0, 0);
				text-shadow: 0 1px 0 hsla(0, 0, 0, .4);
				text-shadow: none;
				transition: all .5s;
				-webkit-transition: all .5s;
				@media screen and (max-width: 1200px) {
					padding: 1.5em 2rem;
					font-size: .875em;
				}
				@media screen and (max-width: 1060px) {
					padding: 1.5em 1rem;
				}
				@media screen and (max-width: 880px) {
					padding: 1em 1rem;
					font-size: .8em;
				}
				// @media screen and (max-width: 785px) {
				@media screen and (max-width: 880px) {
					padding: 1em 2rem 1em 4rem;
					font-size: .8em;
				}
			}
			&:hover a,
			&.current-menu-item a {
				color: hsla(0, 0, 100%, .8);
				background: hsla(0, 0, 100%, .05);
				text-shadow: none;
			}
			&.current-menu-item a {
				background: hsla(0, 0, 100%, .05) url(img/bolt-menu.png) no-repeat center center;
				background-size: auto 70%;
				text-shadow: 0 0 2px rgba(0, 0, 0, 1);
				// @media screen and (max-width: 785px) {
				@media screen and (max-width: 880px) {
					background: hsla(0, 0, 100%, .05) url(img/bolt-menu-full.png) no-repeat 1rem center;
					background-size: auto 50%;
				}
			}
			&:first-child a {
				@media screen and (max-width: 950px) and (min-width: 786px) {
					padding-left: 2rem;
				}
			}
		}
		.menu-item:nth-child(1) a {
			// color: $seablue;
			color: white;
		}
		.menu-item:nth-child(2) a {
			// color: $yellow;
			color: $green;
		}
		.menu-item:nth-child(3) a {
			// color: $pink;
			color: $pink;
		}
		.menu-item:nth-child(4) a {
			// color: $green;
			color: $red;
		}
		.menu-item:nth-child(5) a {
			color: $ali-orange;
		}
		.menu-item:nth-child(6) a {
			// color: $lightpink;
			color: $ali-light-blue;
		}
		.menu-item:nth-child(7) a {
			// color: $red;
			color: $yellow;
		}
		.menu-item:nth-child(8) a {
			// color: $blue;
			color: $ali-hot-pink;
		}
		.menu-item:nth-child(9) a {
			// color: $bright-orange;
			color: $ali-turquoise;
		}
	}
	> h1 {
	}
	// @media screen and (max-width: 785px) {
	@media screen and (max-width: 880px) {
		position: relative;
		h1 {
			display: block;
		}
	}
}

.menu-toggle {
	color: $yellow;
	color: $seablue;
	text-shadow: none;
	padding: .75rem 2rem;
	@include clearfix;
	font-size: 16px;
	font-size: 1.6rem;
	height: 4rem;
	span {
		text-shadow: none;
	}
}

.site-content {
	background: hsla(0, 0, 100%, .3);
}

// FOOTER

.site-footer {
	background: rgba($base-color, .9);
	color: hsla(0, 0, 100%, .8);
	text-shadow: none;
	padding: 2rem;
	text-align: center;
	font-family: $header-font;
	p {
		margin-bottom: 0;
		font-size: .875rem;
	}
	a {
		color: white;
		text-shadow: none;
	}
	.site-info span {
		&:after {
			content: '|';
			padding: 1rem;
		}
		&:last-child:after {
			content: none;
		}
		@media screen and (max-width: 700px) {
			display: block;
			&:after {
				content: none;
			}
		}
	}
	.social a {
		color: rgba(255, 255, 255, .4);
		&:hover {
			color: rgba(255, 255, 255, .8);
		}
	}
}